# Strategy analysis example

Debugging a strategy can be time-consuming. Freqtrade offers helper functions to visualize raw data.
The following assumes you work with SampleStrategy, data for 5m timeframe from Binance and have downloaded them into the data directory in the default location.

## Setup

In [1]:
from pathlib import Path
import os
from freqtrade.configuration import Configuration
from freqtrade.data.history import load_pair_history


# https://www.freqtrade.io/en/stable/data-analysis/
# Quick trick to redefine project root and avoid the default one being set up by notebook
project_root = "somedir/freqtrade"
i=0
try:
    os.chdirdir(project_root)
    assert Path('LICENSE').is_file()
except:
    while i<4 and (not Path('LICENSE').is_file()):
        os.chdir(Path(Path.cwd(), '../'))
        i+=1
    project_root = Path.cwd()
print(Path.cwd())

config = Configuration.from_files([])

data_location = Path(config['user_data_dir'], 'data', 'kraken')

timeframe = "1m"

pair  = "BTC/USDC"

df = load_pair_history(datadir=data_location,
                            timeframe=timeframe,
                            pair=pair,
                            data_format = "json",
                            )

print(df)

/freqtrade
                           date      open      high       low     close  \
0     2022-05-08 00:03:00+00:00  35451.66  35451.66  35357.32  35357.32
1     2022-05-08 00:04:00+00:00  35357.32  35357.32  35357.32  35357.32
2     2022-05-08 00:05:00+00:00  35357.32  35357.32  35357.32  35357.32
3     2022-05-08 00:06:00+00:00  35357.32  35357.32  35357.32  35357.32
4     2022-05-08 00:07:00+00:00  35383.95  35383.95  35383.95  35383.95
...                         ...       ...       ...       ...       ...
87583 2022-07-07 19:46:00+00:00  21690.99  21701.00  21690.99  21701.00
87584 2022-07-07 19:47:00+00:00  21724.09  21724.09  21724.09  21724.09
87585 2022-07-07 19:48:00+00:00  21710.54  21710.54  21710.54  21710.54
87586 2022-07-07 19:49:00+00:00  21710.53  21717.02  21710.53  21717.02
87587 2022-07-07 19:50:00+00:00  21719.83  21738.81  21719.83  21738.81

         volume
0      0.502135
1      0.000000
2      0.000000
3      0.000000
4      0.080645
...         ...
87583  0.218691
87584  0.115074
87585  0.000107
87586  0.000466
87587  0.033880

[87588 rows x 6 columns]

In [2]:
df['high']

0        35451.66
1        35357.32
2        35357.32
3        35357.32
4        35383.95
           ...
87583    21701.00
87584    21724.09
87585    21710.54
87586    21717.02
87587    21738.81
Name: high, Length: 87588, dtype: float64

In [3]:
from scipy.stats import norm
from matplotlib import pyplot as plt
import numpy as np

ModuleNotFoundError: No module named 'matplotlib'

In [ ]:
data = candles['high'].to_numpy()                              # Numpy arrays are easier for 1D data
mu, std = norm.fit(data)                          # Fit a normal distribution
print("Mu and Std: ", mu, std)

CI_95 = norm.interval(0.95, loc=mu, scale=std)    # Find the 95% CI endpoints
print("Confidence Interval: ", CI_95)

plt.vlines(CI_95, ymin=0, ymax=0.4)               # plotting stuff
x = np.linspace(mu - 3*std, mu + 3*std, 100)
plt.plot(x, norm.pdf(x, mu, std))
plt.show()

In [ ]:
data = candles['low'].to_numpy()                              # Numpy arrays are easier for 1D data
mu, std = norm.fit(data)                          # Fit a normal distribution
print("Mu and Std: ", mu, std)

CI_95 = norm.interval(0.95, loc=mu, scale=std)    # Find the 95% CI endpoints
print("Confidence Interval: ", CI_95)

plt.vlines(CI_95, ymin=0, ymax=0.4)               # plotting stuff
x = np.linspace(mu - 3*std, mu + 3*std, 100)
plt.plot(x, norm.pdf(x, mu, std))
plt.show()

In [ ]:
print(candles['high'].max())
print(candles['low'].max())
print(candles['high'].min())
print(candles['low'].min())

In [ ]:
candles['low'].min()

In [4]:
candles['high'].count()

NameError: name 'candles' is not defined

In [5]:
print(candles['high'].quantile(0.996))
print(candles['low'].quantile(0.005))

NameError: name 'candles' is not defined

In [6]:
std

NameError: name 'std' is not defined

In [7]:
3*std

NameError: name 'std' is not defined

In [8]:
import talib.abstract as ta
import freqtrade.vendor.qtpylib.indicators as qtpylib
import pandas_ta as pta

In [9]:
df['rsi14'] = ta.RSI(df, timeperiod=14)
macd = ta.MACD(df)
df['macd'] = macd['macd']
df['sma15'] = ta.SMA(df, timeperiod=15)
df['sma5'] = ta.SMA(df, timeperiod=5)

In [27]:
df.ta.macd()

       MACD_12_26_9  MACDh_12_26_9  MACDs_12_26_9
0               NaN            NaN            NaN
1               NaN            NaN            NaN
2               NaN            NaN            NaN
3               NaN            NaN            NaN
4               NaN            NaN            NaN
...             ...            ...            ...
87583     74.586986      11.737722      62.849265
87584     77.671388      11.857699      65.813689
87585     78.121887       9.846558      68.275329
87586     78.101487       7.860926      70.240560
87587     78.933692       6.954505      71.979187

[87588 rows x 3 columns]

In [28]:
df['macd']

0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
           ...
87583    74.586986
87584    77.671388
87585    78.121887
87586    78.101487
87587    78.933692
Name: macd, Length: 87588, dtype: float64

In [12]:
plt.plot(df['date'], df['close'])

NameError: name 'plt' is not defined

In [13]:
import mplfinance as mf

ModuleNotFoundError: No module named 'mplfinance'

In [14]:
mf.plot(df.iloc[:-50,:])

NameError: name 'mf' is not defined

In [15]:
df['index'] = df['date']

In [16]:
df

,date,open,high,low,close,volume,rsi14,macd,sma15,sma5,index
0,2022-05-08 00:03:00+00:00,35451.66,35451.66,35357.32,35357.32,0.502135,NaN,NaN,NaN,NaN,2022-05-08 00:03:00+00:00
1,2022-05-08 00:04:00+00:00,35357.32,35357.32,35357.32,35357.32,0.000000,NaN,NaN,NaN,NaN,2022-05-08 00:04:00+00:00
2,2022-05-08 00:05:00+00:00,35357.32,35357.32,35357.32,35357.32,0.000000,NaN,NaN,NaN,NaN,2022-05-08 00:05:00+00:00
3,2022-05-08 00:06:00+00:00,35357.32,35357.32,35357.32,35357.32,0.000000,NaN,NaN,NaN,NaN,2022-05-08 00:06:00+00:00
4,2022-05-08 00:07:00+00:00,35383.95,35383.95,35383.95,35383.95,0.080645,NaN,NaN,NaN,35362.646,2022-05-08 00:07:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...
87583,2022-07-07 19:46:00+00:00,21690.99,21701.00,21690.99,21701.00,0.218691,69.521720,74.586986,21580.762667,21665.914,2022-07-07 19:46:00+00:00
87584,2022-07-07 19:47:00+00:00,21724.09,21724.09,21724.09,21724.09,0.115074,71.112937,77.671388,21597.036000,21681.114,2022-07-07 19:47:00+00:00
87585,2022-07-07 19:48:00+00:00,21710.54,21710.54,21710.54,21710.54,0.000107,68.841557,78.121887,21610.168667,21693.604,2022-07-07 19:48:00+00:00
87586,2022-07-07 19:49:00+00:00,21710.53,21717.02,21710.53,21717.02,0.000466,69.345814,78.101487,21628.849333,21710.730,2022-07-07 19:49:00+00:00
87587,2022-07-07 19:50:00+00:00,21719.83,21738.81,21719.83,21738.81,0.033880,71.042876,78.933692,21648.982667,21718.292,2022-07-07 19:50:00+00:00

In [30]:
df['vwma20'] = df.ta.vwma(length=20)

In [35]:
pta.vwma(df['close'], df['volume'], length=20)

0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
             ...
87583    21485.859744
87584    21487.413617
87585    21487.878812
87586    21487.880352
87587    21488.354498
Name: VWMA_20, Length: 87588, dtype: float64

In [34]:
help(pta.vwma)

Help on function vwma in module pandas_ta.overlap.vwma:

vwma(close, volume, length=None, offset=None, **kwargs)
    Volume Weighted Moving Average (VWMA)

    Volume Weighted Moving Average.

    Sources:
        https://www.motivewave.com/studies/volume_weighted_moving_average.htm

    Calculation:
        Default Inputs:
            length=10
        SMA = Simple Moving Average
        pv = close * volume
        VWMA = SMA(pv, length) / SMA(volume, length)

    Args:
        close (pd.Series): Series of 'close's
        volume (pd.Series): Series of 'volume's
        length (int): It's period. Default: 10
        offset (int): How many periods to offset the result. Default: 0

    Kwargs:
        fillna (value, optional): pd.DataFrame.fillna(value)
        fill_method (value, optional): Type of fill method

    Returns:
        pd.Series: New feature generated.